.screen {
	width:100%;
	height:100%;
	position:relative;
}

.screen canvas {
	background-color: transparent;
	position:absolute;
	top:0;
	left:0;
}

.form {
	top:50%;
	background:#fafafa;
	border:1px solid #494949;
	transform:rotateY(0deg) translateY(-50%);
	position:fixed;
	left:0;
	right:0;
	margin:auto;
	width: 350px;
	height:300px;
	padding-top:50px;
	z-index:3;
	transition:1s transform;
}

.form .btnStyle {
	width:250px;
	height:25px; 
	margin:auto;
	border-style:solid;
	border-color:#707F8C;
	background:#707F8C;
	color:#FFFFFF;
	display:block;
}

.form .inpStyle {
	margin: auto;
	width:240px;
	border: 1px solid #808080;
	padding: 4px 5px;
	display:block;
	margin-bottom:10px;
}

.form #num {
	margin-left:40px;
	margin-bottom:10px;
	padding: 4px 5px;
	width:100px;
	border: 1px solid #808080;
	display:inline-block;
}

.form #graphics,
.form #control {
	margin-left:80px;
	margin-bottom:10px;
	padding: 4px 5px;
	width:100px;
	border: 1px solid #808080;
	display:inline-block;
}

.form .input-container {
	width:fit-content;
	width:-moz-fit-content;
	margin:0px auto;
}

.form h1 {
	font-size:60px;
	font-family:arial;
	color:#233d4d;
	text-align:center;
	margin:0;
	font-weight:normal;
}

.form .ins {
    padding: 5% 14%;
    font-size: 12px;
	text-align:center;
}

.form .set_button {
	display:block;
	text-align:center;
	text-decoration:none;
	width:250px;
	margin:5px auto;
	margin-bottom:15px;
	box-sizing:border-box;
	padding:6px;
	background:grey;
	color:white;
}

#gameScreen {
	z-index:2;
}

.form .front {
	padding-top:25px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.form .back {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
}

.form .back #return {
    float: right;
    background-color: #f3f3f3;
    border: solid #494949 1px;
    padding: 4px 18px;
}

.form .back .container {
    width: 65%;
    margin: auto;
	margin-top:40px;
}

.form .back .container label {
	display:inline-block;
	width:29%;	
}
.form .back .container select {
	display:inline-block;
	width:69%;
}

.form .back h1::before,
.form .back h1::after {
	content:"";
	clear:both;
	display:table;
}